#carousel {
overflow: hidden;
margin: 0 auto;
width: 500px;
height: 350px;
}

#carousel ul {
width: 3000px;
list-style: none;
padding: 0;
}

#carousel ul li {
list-style: none;
width: 600px;
height: 350px;
display: inline;
}

br {
  font-size: 60px;
}


.left {
	position: absolute;
	overflow: auto;
  left: 600px;
	top: 250px;
  font-size: 30px;
  font-weight: bold;

}
.right {
	position: absolute;
	overflow: auto;
	right: 600px;
	top: 255px;
  font-size: 30px;
  font-weight: bold;
}
